@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}



.page1 {
    display: flex;
    position: relative;
}

.page1 img {
    width: 40.5rem;
    height: 32.6rem;
}

.page1-content {
    position: absolute;
    right: 10rem;
    top: 9rem;
}

.page1-content h1 {
    font-size: 4rem;
    font-weight: bold;
    color: black;

}

.page1-content button {
    padding: 0.2rem 2rem;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: black;
    margin-left: 12rem;
}

.total-score {
    line-height: 36px;
    color: black;
    max-width: 10rem;
    margin: 1rem 0 0 3rem;
}

.total-score h1 {
    font-size: 100px;
}

.total-score p {
    font-size: 24px;
}

main {
    display: flex;
    justify-content: space-between;
}

.Number-box p {
    margin-top: 1rem;
    font-weight: 500;
}

.Number-box-1 {
    display: flex;
    margin-top: 3.8rem;
    margin-right: 4rem;
    gap: 10px;

}

.Number-box-1 li {
    border: 1px solid hsla(0, 0%, 0%, 0.719);
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    transition: 0.3s;
}

.Number-box-1 li:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.roll-dice {
    text-align: center;
    gap: 1rem;
}

.roll-dice button {
    padding: 0.5rem 4rem;
    margin: 0.5rem;
    border: 1px solid hsla(0, 0%, 0%, 0.624);
    border-radius: 8px;
}

#reset-score:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
#show-rules{
    background-color: black;
    color: white;
    transition: 0.3s;
}
#show-rules:hover{
background-color: white;
color: black;
transition: 0.3s;

}
.show-rules{
    margin-left: 10rem;
    margin-top: 3rem;
    text-align: start;
    
}

.show-rules p{
 color: black;
 line-height: 10px;
}

.show-rules h1{
font-size: 1.8rem;
color: black;
margin-bottom: 2rem;

}
